/* @import line necessary for Netscape 4 CSS hack */
@import url(/include/stylesxns4.css);
body, td, th {
 font-family: Verdana, Arial, sans-serif;
}
body {
 margin: 0em;
 color: black;
 background-color: white;
}

/* The following styles set the default font for the main content of pages */
td.content {
 font-size: 80%;
}
td.content table td, td.content table th {
 font-size: 80%;
}
/* (end of section */

div#tagline {
 background-color: #333366;
 color: white;
 padding: 5px;
 text-align: center;
 font-size: 11px;
 letter-spacing: 3px;
}
.leftcolumn {
 background-color: #DEDFEA;
 color: #666666;
}
div#pagefooter {
 text-align: center;
 font-size: 67%;
 color: #D47D20;
 padding: 1em;
 border-top: 1px solid #333366;
}
div#pagefooter a:link, div#pagefooter a:visited {
 color: #D47D20;
 text-decoration: none;
}
div#pagefooter a:hover {
 color: #333366;
 text-decoration: underline;
}
a:visited {
 color: #7979B0;
}
a:link {
 color: #333366;
}
a:hover {
 color: #D37A1B;
}
h1, h2, h3 {
 font-family: Arial, sans-serif;
/* color: #B4B7CF; */
 color: #333366;
}
.author, .subtitle {
 font-weight: normal;
}
h1 {
 font-size: 150%;
}
h2 { 
 font-size: 125%;
}
h3 { 
 font-size: 100%;
}
h3.qa {
 color: #000000;
}
p.main, ol.notes li, ul.notes li {
 text-align: justify;
}
h1 .subtitle {
 font-size: 60%;
}
p.subtitle {
 margin-top: -1.1em;
 margin-bottom: 2em;
 font-family: Verdana, Arial, sans-serif;
 color: #333366;
}
.scripture {
 color: #000066;
}
td.sidenote {
 border: 1px #000000 solid;
 background-color: #FAECDF;
}
td.sidenote img {
 border-color: black;
}
td.list1 {
 background-color: #F3F4FF;
}
td.list2 {
 background-color: #DEDFEA;
}
th.colorTableHead {
 background-color: #333366;
 font-weight: bold;
 color: #ffffff;
}
th.sectionHead {
 background-color: #B4B7CF;
 font-weight: bold;
 color: #ffffff;
}
blockquote.quote1 {
 margin: 1em 4em;
 color: #C15819;
}
ol.notes li, ul.notes li {
 padding-bottom: 1em;
}
ol.separated li, ul.separated li {
 margin-top: 0.5em;
}
.rightcolumn {
 background-color: #FAECDF;
 color: #333366;
}
hr.main {
 color: #000000;
 height: 1px;
 width: 90%;
}
.qaproduct {
 margin-bottom: 1em;
 font-size: 80%;
}
.qaproductcat {
 text-align: center;
 margin: 1em 0em;
 font-weight: bold;
 font-size: 80%;
}
.qahighlighttext, .sidebarlargetext {
 font-size: 100%;
 color: #D37A1B;
 font-weight: bold;
 text-align: center;
 margin-bottom: 1em;
}
.sidebarsmalltext {
 font-size: 67%;
 margin-bottom: 0.5em;
}
ol.qa {
 margin-left: 1em;
 padding-left: 0em;
 font-size: 80%;
}
ol.qa li {
 padding-bottom: 1em;
}
div.content {
 width: 700px;
 margin: 20px;
 padding: 10px;
 border: 1px solid black;
 background-color: #ffffff;
}
table.searchHighlight {
 border: 1px solid black;
 background-color: #eeeeee;
 color: #000000;
 margin-bottom: 1em;
}
.caption {
 font-size: 80%;
}
div.content {
 font-family: "Times New Roman", serif;
}
img.eqn {
 vertical-align: middle;
}
span.eqnnum {
 margin-left: 4em;
}
.error {
 color: red;
 font-weight: bold;
}
td.inputformlabel {
 text-align: right;
 padding: 1px 5px 1px 0px;
 font-weight: bold;
}
td.inputforminput {
 text-align: left;
 padding: 1px 0px 1px 5px;
}
td.inputforminput input, td.inputforminput textarea {
 font-family: Verdana, Arial, sans-serif;
}
.required {
 color: red;
 font-weight: bold;
}
.hebrewtext {
 direction: rtl;
 unicode-bidi: embed;
 font-family: "Times New Roman", "Times", serif;
 font-size: 14pt;
}
@media print {
 body, td, th {
  font-family: "Times New Roman", serif;
 }
 div.content {
  width: 100%;
  margin: 0em;
  padding: 0em;
  border: 0px;
  background-color: #ffffff;
 }
 .hideOnPrint {
  display: none;
 }
}