vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Aug 2005 04:02:05 -0000
vti_extenderversion:SR|4.0.2.7802
vti_backlinkinfo:VX|general/bible_search.htm general/about_us.htm ark/hull_form/prop_hull_form.htm general/genesis_nkjv.htm general/poll_results.htm flood/ararat/ararat.htm ark/hull_form/ancient_hull_form.htm ark/hull_form/hull_explained.htm
vti_cacheddtm:TX|11 Aug 2005 04:02:05 -0000
vti_filesize:IR|4447
vti_cachedlinkinfo:VX|S|/css/bl.jpg S|/css/br.jpg S|/css/tl.jpg S|/css/tr.jpg
vti_cachedsvcrellinks:VX|FSUS|css/bl.jpg FSUS|css/br.jpg FSUS|css/tl.jpg FSUS|css/tr.jpg
