/*typography*/
body{font: 76% verdana,arial,sans-serif;text-align: center}
H1,H2,H3,H4 { font-family: Tahoma, Verdana,Arial,sans-serif}
H2 {font-size: 160%; padding-top: 10px;color: #336699}
H3 {font-size: 160%; margin-top: 10;padding-left: 12px;color: #96715D}
H4 { font-size: 135%; margin-top: 10; font-weight: bold;color: #336699}
H5 { font-size: 100%; margin-top: 40; font-weight: bold;color: #336699}
p{line-height: 1.25;padding-left: 12px;padding-right: 12px}
A:LINK {color: #336699;text-decoration: underline;}
A:VISITED {color: #663399;text-decoration: underline;}
A:HOVER {color: #D37A1B;text-decoration: underline;}
A:ACTIVE {text-decoration: underline;color: #D37A1B;}
address{padding: 3px 15px;font-style:normal}
div#relax p{font-size: 120%}
hr {color: #6B8C94;width: 100%;height: 3px;}


/*layout*/
html{height: 100%; margin-bottom: 1px}
html,body{margin:0;padding:0 0 0px}
div#container{width: 700px;margin: 0 auto;text-align: left}
div#header{height: 112px;margin:0 0 10px;padding: 0 0 5px} 
div#header h1{margin:0 10px;padding:0px 0 2px}
div#header p{float: right; margin-right: 5px:margin-top: 0px;text-decoration: normal}
div#sidebar{float: left;margin-left: 2px;width: 150px}
div#sidebar div{padding: 5px 0;margin-bottom: 3px}
div#sidebar div#menu{margin: 0 5px}
div#sidebar p{margin: 0 5px;padding:0}
div#sidebar p+p{margin-top: 0.5em}
div#nav ul,div#nav li{margin:0;padding:0;list-style-type:none;line-height: 1.5}
div#nav a{margin-left:5px;padding-left:8px}
div#nav2 ul,div#nav li{margin:0;padding:0;list-style-type:none;line-height: 1.5}
div#nav2 a{margin-left:5px;padding-left:8px}
form{margin: 5px 0;padding: 5px 0}
form h3{margin-bottom: 10px}
form div{padding: 5px 0}
form input#find{width: 90px;margin-left:10px}
div#content{width:538px;padding:0px 0px}
blockquote{float:left;display:inline;width: 200px;margin: 0 10px 5px 15px;padding: 5px 0}
blockquote p{margin:0;padding: 0 5px;text-align: center}
div#relax{margin: 0 15px 10px;padding: 5px 0}
div#relax p, div#relax h2{margin: 0 5px}
div#footer{clear: right;margin-top: 20px}


/*colors*/
body{background: #cccccc}
div#container{background: #6B8C94}
div#header{background: url(header03.jpg)}
div#header h1{color: #fff}    
div#header a:hover{color: #FFF}
div#nav{background: #DFD692} 
div#nav a:hover{color: #FFF}
div#nav2{background: #d6cdb5} 
div#nav2 a:hover{color: #FFF}
div#sidenotes{background:#B4CFD1} 
form{background: #B4CEF7}
div#content{background: #FFF}
blockquote{background: #d2e2e3}
div#relax{background: url(relax.jpg)}
div#relax h2{color: #F7DEB5}
div#relax p{color: #fff}
div#footer{background: #d6cdb5;color: #333;text-align:center}